.change_network{
	float: right;
	background-image: url('../images/edit.png');
	background-size: cover;
	border: none;
	cursor: pointer;
	width: 15px;
	height: 15px;
	margin: 5px;
}
.status{
	float: right;
}
.user-info .status{
	float: none;
}
.all_clients td{
	padding: 0 5px;
}
.new_net_text{
	position: absolute;
	top:0;
	left: 0;
	display: none;
}
.network_field{
	position: relative;
}
.modal_background{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(43, 43, 43, 0.6);
}
/*.modal_body{
	background-color: white;
	position: absolute;
	top:20%;
	width:50%;
	max-width: 400px;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.modal_body_offer_admin{
	background-color: white;
	position: absolute;
	top:10%;
	width:60%;
	max-width: 600px;
	left: 0;
	right: 0;
	margin: 0 auto;
	}*/

	.button_close{
		width: 20px;
		float: right;
		cursor: pointer;
	}
	.user_info{
		background-image: url(../images/Info.png);
		background-size: cover;
		border: none;
		cursor: pointer;
		width: 20px;
		height: 20px;
		vertical-align: middle;
		background-color: inherit;
	}
	.remove_link{
		background-image: url(../images/delete.png);
		background-size: cover;
		border: none;
		cursor: pointer;
		width: 26px;
		height: 26px;
		vertical-align: middle;
		background-color: inherit;
	}
	.icon_up{
		background-image: url(../images/up_arrow.png);
		background-size: cover;
		border: none;
		cursor: pointer;
		width: 30px;
		height: 30px;
		vertical-align: middle;
		background-color: inherit;
	}
	.icon_down{
		background-image: url(../images/down_arrow.png);
		background-size: cover;
		border: none;
		cursor: pointer;
		width: 30px;
		height: 30px;
		vertical-align: middle;
		background-color: inherit;
	}
	.remove_link{
		vertical-align: middle;
	}
	.geo_countryes{
		background-color: #d6d2d0;
	}
	.selector_country{
		width: 33%;
		display: block;
		float: left;
		text-align: center;
		cursor: pointer;
	}
	.selector_country span{
		border: 1px solid #000;
		width: 90%;
		padding: 10px;
		display: inline-block;
		background-color: #dfdcda;
		border-radius: 5px;
		margin-top: 5%;
	}
	.selector_country.checked span{
		background-color: #5eb6e4;
		color: #fff;
	}
	.add_ofer_input{
		display: block;
	}
	.tracking_links {
		display: inline-block;
		vertical-align: middle;
		margin: 10px;
	}
	.tracking_block .trecking_link{
		width: calc(100% - 100px);
		float: left;
		margin-bottom: 6px;
	}
	.tracking_block .btn-cons {
		margin-right: 0;
		min-width: auto;
	}
	.hidden{
		display: none;
	}
	.buttons_group{
		float: right;
		position: relative;
		top: -8px;
	}
	.alert {
		padding: 15px;
	}
	.sub_button{
		text-align: center;
	}
	*:focus {
		outline: none;
	}
	.modal-dialog.offer{
		width: 1200px;
		max-width: 90%;
	}
	.form-control.description, .form-control.geo{
		height: auto;
		min-height: 37px;
		max-width: 100%;
	}
	.accord{
		margin: 10px 0;
	}


	@media(max-width: 540px){
		.buttons_group{
			display: block;
			position: inherit;
			float: none;
		}
		.alert-info{
			text-align: center;
		}
		.selector_country{
			width: 50%;
		}
	}

	@media(max-width: 440px){
		.selector_country{
			width: 100%;
		}
	}